# /home/centos/.config/autostart/popup.sh.desktop
[Desktop Entry]
Type=Application
Exec=/usr/local/bin/popup.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Shutdown after timeout
Name=Shutdown after timeout
Comment[en_US]=
Comment=
